<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

  </configSections>
  <connectionStrings>
    
    <!-- Try this connect first -->

     <!--<add name="ITMS" connectionString="Data Source=.\SQLEXPRESS;Database=ITMSDB;Integrated Security=SSPI" />-->
    <!--<add name="ITMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ITMSDB.mdf;Integrated Security=True" />-->
    <add name="ITMS" connectionString="Data Source=.;Initial Catalog=ITMSDB;Integrated Security=True" />


  </connectionStrings>

  <appSettings>

  </appSettings>
</configuration>